.ingredients {
    counter-reset:step;
}

.ingredients li{
    margin-bottom:15px;
}

.ingredients li::before {
    counter-increment: step;
    content: counter(step) ". ";
    font-weight:700;
    border: 2px solid black;
    border-radius:100%;
    padding:0px 0px 0px 3px;
    margin-right:10px;
}