.suggest-form input{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.directions {
  counter-reset:step;
}

.directions li{
  margin-bottom:15px;
  transform: translateX(30px);
}

.directions li::before {
  counter-increment: step;
  content: counter(step) ". ";
  font-weight:700;
  border: 2px solid black;
  border-radius:100%;
  padding:1px 4px 1px 6px;
  top: -5px;
  transform: translate(-32px, 5px);
  position: absolute;
}

