  .background-img {
    background-image: url("./images/background.jpg");
  }
  
  .directions {
    counter-reset:step;
  }
  
  .directions li{
    margin-bottom:15px;
    transform: translateX(30px);
  }
  
  .directions li::before {
    counter-increment: step;
    content: counter(step) ". ";
    font-weight:700;
    border: 2px solid;
    border-radius:100%;
    padding:1px 4px 1px 6px;
    top: -5px;
    transform: translate(-32px, 5px);
    position: absolute;
  }
  
  